@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root{
  --black-color: #000;
  --background-color-black: rgba(0,0,0, 80%);
  --white: #fff;
  --beige: #d2bbaa;
  --marsala: #975A58;
  --font-dancing: 'Dancing Script';
  --font-bebas-naue: 'Bebas Neue';
  --font-open: 'Open Sans Condensed';
}

body{
  position: relative;
}